section{
    padding-bottom: 50px;
    border-bottom: black 3px solid;
}
section:first-child>h4{
    color: blue;
}

section:nth-child(2){
    border-bottom: red 5px solid;
}

section:nth-child(3)>h3,section:nth-child(3)>ul{
    color: red;
}

section:nth-child(4)>ul:nth-child(4)>li:nth-child(2){
    font-size: 25px;
}

section:nth-child(5)>h3+span{
    color: blue;
}

section:nth-child(6)>img{
    border: solid black 3px;
    border-radius: 50%;
}

section:nth-child(7)>p:hover{
    color: green;

}

